html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #000 !important;
   font-family: "Poppins", sans-serif !important;
}
.MuiTypography-root{
   font-family: "Poppins", sans-serif !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
#nav-bg {
    position: fixed;
    height: 5em;
    width: 100%;
    background-color: #222;
    top: 0;
    z-index: 1;
}
header {
  position: relative;
  background-color: #000;
  z-index: 2;
  padding: 10em 0 8em;
}
.react-multi-carousel-dot-list {display: none !important;}
.active {color: #ffbd39 !important}
.resume_experience_card{
  width: 100%;
    margin-bottom: 30px;
    background: #ffffff1a;
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

@media screen and (min-width: 280px) and (max-width: 708px) {
  .mobile_image{
    display: none;
  }
  .mobilesizesmall{
      font-size: 20px !important; 
  }
  
}