html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #000 !important;
   font-family: "Poppins", sans-serif !important;
}
.MuiTypography-root{
   font-family: "Poppins", sans-serif !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
#nav-bg {
    position: fixed;
    height: 5em;
    width: 100%;
    background-color: #222;
    top: 0;
    z-index: 1;
}
header {
  position: relative;
  background-color: #000;
  z-index: 2;
  padding: 10em 0 8em;
}
.react-multi-carousel-dot-list {display: none !important;}
.active {color: #c9f31d !important}
.resume_experience_card{
  width: 100%;
    margin-bottom: 30px;
    background: #ffffff1a;
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.projectback_rount{
   width: 100%;
    margin-bottom: 30px;
    background: #1a1a1a;
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

@media screen and (min-width: 280px) and (max-width: 708px) {
  .mobile_image{
   /* position: absolute; */
   height:100vh !important;
   width: 450px !important;
   opacity: 0.4;
   position: absolute;
  }
  .certificate_mobile {
    display: unset !important;
  }
  .projectmobile_content_awards {
    width: 100% !important;
    height: auto !important;
  }

  .mobilesizesmall{
      font-size: 30px !important; 
  }

  
}
@media screen and (min-width: 280px) and (max-width: 508px) {
  .slider{
    height: 100vh !important;
  }
  .chatbot-container {
    /* width: 100% !important; */
  }
  .chatbot-mobile-container{
    right: 0 !important;
    bottom:0 !important;
    top: 0 !important
  }
  .Mobile_text_slightly{
    padding-left: 60px !important
  }
  .buttonsize_small {
    font-size: 10px !important;
    width: auto;
    height: 30px;
  }
  .projectmobile_content {
    margin: unset !important;
    height:200px !important;
   
  }
  .projecttopchange{
    top: 10px !important
  }
  .projectopentowork {
    font-size: 18px !important;
  }
  .projectmobile_content_img{
    height:114px;
  }
  .hidethisData_mobile{
    display:none !important;
  }
}